*{
    margin:0px;
    padding: 0px;
    font-family: Sans-Serif;
}
.button-container .read-btn{
    background-color:  rgb(133, 7, 133);
    border: none;
    width: 100px;
    height: 30px;
    color: white;
}